In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
df=pd.read_csv("googleplaystore-1.csv")

In [ ]:
df.head(10)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
5,Paper flowers instructions,ART_AND_DESIGN,4.4,167,5.6M,"50,000+",Free,0,Everyone,Art & Design,"March 26, 2017",1.0,2.3 and up
6,Smoke Effect Photo Maker - Smoke Editor,ART_AND_DESIGN,3.8,178,19M,"50,000+",Free,0,Everyone,Art & Design,"April 26, 2018",1.1,4.0.3 and up
7,Infinite Painter,ART_AND_DESIGN,4.1,36815,29M,"1,000,000+",Free,0,Everyone,Art & Design,"June 14, 2018",6.1.61.1,4.2 and up
8,Garden Coloring Book,ART_AND_DESIGN,4.4,13791,33M,"1,000,000+",Free,0,Everyone,Art & Design,"September 20, 2017",2.9.2,3.0 and up
9,Kids Paint Free - Drawing Fun,ART_AND_DESIGN,4.7,121,3.1M,"10,000+",Free,0,Everyone,Art & Design;Creativity,"July 3, 2018",2.8,4.0.3 and up

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [ ]:
df.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df['Category'].unique()

array(['ART_AND_DESIGN', 'AUTO_AND_VEHICLES', 'BEAUTY',
       'BOOKS_AND_REFERENCE', 'BUSINESS', 'COMICS', 'COMMUNICATION',
       'DATING', 'EDUCATION', 'ENTERTAINMENT', 'EVENTS', 'FINANCE',
       'FOOD_AND_DRINK', 'HEALTH_AND_FITNESS', 'HOUSE_AND_HOME',
       'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'GAME', 'FAMILY', 'MEDICAL',
       'SOCIAL', 'SHOPPING', 'PHOTOGRAPHY', 'SPORTS', 'TRAVEL_AND_LOCAL',
       'TOOLS', 'PERSONALIZATION', 'PRODUCTIVITY', 'PARENTING', 'WEATHER',
       'VIDEO_PLAYERS', 'NEWS_AND_MAGAZINES', 'MAPS_AND_NAVIGATION',
       '1.9'], dtype=object)

In [ ]:
#Replacing wrong value(1.9) with the mode
df['Category'].replace('1.9',df['Category'].mode()[0] , inplace=True)

<ipython-input-182-9d96ece8635f>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Category'].replace('1.9',df['Category'].mode()[0] , inplace=True)

In [ ]:
df['Rating'].unique()

array([ 4.1,  3.9,  4.7,  4.5,  4.3,  4.4,  3.8,  4.2,  4.6,  3.2,  4. ,
        nan,  4.8,  4.9,  3.6,  3.7,  3.3,  3.4,  3.5,  3.1,  5. ,  2.6,
        3. ,  1.9,  2.5,  2.8,  2.7,  1. ,  2.9,  2.3,  2.2,  1.7,  2. ,
        1.8,  2.4,  1.6,  2.1,  1.4,  1.5,  1.2, 19. ])

In [ ]:
#Replacing any rating greater than 5 with 5
df['Rating'] = df['Rating'].apply(lambda x: 5 if x > 5 else x)

In [ ]:
#Replacing NULL Values with the mean
df['Rating'].fillna(df['Rating'].dropna().mean(),inplace=True)

<ipython-input-185-0dd5b43e6766>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Rating'].fillna(df['Rating'].dropna().mean(),inplace=True)

In [ ]:
df['Rating'].unique()

array([4.1       , 3.9       , 4.7       , 4.5       , 4.3       ,
       4.4       , 3.8       , 4.2       , 4.6       , 3.2       ,
       4.        , 4.18796806, 4.8       , 4.9       , 3.6       ,
       3.7       , 3.3       , 3.4       , 3.5       , 3.1       ,
       5.        , 2.6       , 3.        , 1.9       , 2.5       ,
       2.8       , 2.7       , 1.        , 2.9       , 2.3       ,
       2.2       , 1.7       , 2.        , 1.8       , 2.4       ,
       1.6       , 2.1       , 1.4       , 1.5       , 1.2       ])

In [ ]:
df['Reviews'] = pd.to_numeric(df['Reviews'], errors='coerce')

In [ ]:
df['Reviews'].isnull().sum()

np.int64(1)

In [ ]:
df['Reviews'].fillna(df['Reviews'].dropna().mean(),inplace=True)

<ipython-input-189-7a4d05b5aaeb>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Reviews'].fillna(df['Reviews'].dropna().mean(),inplace=True)

In [ ]:
#Converting Size from kilobytes or megabytes to bytes
def size_bytes(s):
    if "M" in s:
      s=s.replace('M', '')
      s=float(s)*1000000
      return s
    elif "k" in s :
      s=s.replace('k', '')
      s=float(s)*1000
      return s

df['Size']=df['Size'].apply(size_bytes)

In [ ]:
#Converting Size to number and replacing NULL values with mean
df['Size'] = pd.to_numeric(df['Size'], errors='coerce')
Size_mean=df["Size"].dropna().mean()
df["Size"]=df["Size"].fillna(Size_mean)

In [ ]:
#Removing '+' and ',' from Installs then replacing NULL values with mean
df['Installs'] = (
    df['Installs']
    .astype(str)
    .str.replace('+', '', regex=False)
    .str.replace(',', '')
    .str.strip()
)
df['Installs'] = pd.to_numeric(df['Installs'], errors='coerce')
Installs_mean=df["Installs"].dropna().mean()
df["Installs"]=df["Installs"].fillna(Installs_mean)

In [ ]:
#We can see there's NULL values and wrong values (0)
df['Type'].unique()

array(['Free', 'Paid', nan, '0'], dtype=object)

In [ ]:
#Locate Row with the wrong value
df[df['Type'] == '0']

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,FAMILY,5.0,405904.610602,2.128779e+07,1.415776e+07,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [ ]:
#Replace wrong value with Paid
df.loc[10472,"Type"]="Paid"

In [ ]:
#Finding the Cell with NULL value
s= df["Type"].isnull()
x=df[s]
print(x)

                            App Category    Rating  Reviews          Size  \
9148  Command & Conquer: Rivals   FAMILY  4.187968      0.0  2.128779e+07

      Installs Type Price Content Rating    Genres   Last Updated  \
9148       0.0  NaN     0   Everyone 10+  Strategy  June 28, 2018

             Current Ver         Android Ver
9148  Varies with device  Varies with device

In [ ]:
#Replacing the Cell with NULL Type with Free because price is 0
df.loc[9148, 'Type']="Free"
print(df.loc[9148, 'Type'])

Free

In [ ]:
df["Price"].unique()

array(['0', '$4.99', '$3.99', '$6.99', '$1.49', '$2.99', '$7.99', '$5.99',
       '$3.49', '$1.99', '$9.99', '$7.49', '$0.99', '$9.00', '$5.49',
       '$10.00', '$24.99', '$11.99', '$79.99', '$16.99', '$14.99',
       '$1.00', '$29.99', '$12.99', '$2.49', '$10.99', '$1.50', '$19.99',
       '$15.99', '$33.99', '$74.99', '$39.99', '$3.95', '$4.49', '$1.70',
       '$8.99', '$2.00', '$3.88', '$25.99', '$399.99', '$17.99',
       '$400.00', '$3.02', '$1.76', '$4.84', '$4.77', '$1.61', '$2.50',
       '$1.59', '$6.49', '$1.29', '$5.00', '$13.99', '$299.99', '$379.99',
       '$37.99', '$18.99', '$389.99', '$19.90', '$8.49', '$1.75',
       '$14.00', '$4.85', '$46.99', '$109.99', '$154.99', '$3.08',
       '$2.59', '$4.80', '$1.96', '$19.40', '$3.90', '$4.59', '$15.46',
       '$3.04', '$4.29', '$2.60', '$3.28', '$4.60', '$28.99', '$2.95',
       '$2.90', '$1.97', '$200.00', '$89.99', '$2.56', '$30.99', '$3.61',
       '$394.99', '$1.26', 'Everyone', '$1.20', '$1.04'], dtype=object)

In [ ]:
#Removing $ from Price
df["Price"]=df["Price"].str.replace("$",'',regex=False)

In [ ]:
df["Price"]=pd.to_numeric(df["Price"],errors="coerce")

In [ ]:
#Replacing NULL values with mean
df["Price"].fillna(df["Price"].mean(),inplace=True)

<ipython-input-201-2896fcb2fb6f>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Price"].fillna(df["Price"].mean(),inplace=True)

In [ ]:
df["Price"].unique()

array([  0.        ,   4.99      ,   3.99      ,   6.99      ,
         1.49      ,   2.99      ,   7.99      ,   5.99      ,
         3.49      ,   1.99      ,   9.99      ,   7.49      ,
         0.99      ,   9.        ,   5.49      ,  10.        ,
        24.99      ,  11.99      ,  79.99      ,  16.99      ,
        14.99      ,   1.        ,  29.99      ,  12.99      ,
         2.49      ,  10.99      ,   1.5       ,  19.99      ,
        15.99      ,  33.99      ,  74.99      ,  39.99      ,
         3.95      ,   4.49      ,   1.7       ,   8.99      ,
         2.        ,   3.88      ,  25.99      , 399.99      ,
        17.99      , 400.        ,   3.02      ,   1.76      ,
         4.84      ,   4.77      ,   1.61      ,   2.5       ,
         1.59      ,   6.49      ,   1.29      ,   5.        ,
        13.99      , 299.99      , 379.99      ,  37.99      ,
        18.99      , 389.99      ,  19.9       ,   8.49      ,
         1.75      ,  14.        ,   4.85      ,  46.99      ,
       109.99      , 154.99      ,   3.08      ,   2.59      ,
         4.8       ,   1.96      ,  19.4       ,   3.9       ,
         4.59      ,  15.46      ,   3.04      ,   4.29      ,
         2.6       ,   3.28      ,   4.6       ,  28.99      ,
         2.95      ,   2.9       ,   1.97      , 200.        ,
        89.99      ,   2.56      ,  30.99      ,   3.61      ,
       394.99      ,   1.26      ,   1.03080042,   1.2       ,
         1.04      ])

In [ ]:
df["Content Rating"].unique()

array(['Everyone', 'Teen', 'Everyone 10+', 'Mature 17+',
       'Adults only 18+', 'Unrated', nan], dtype=object)

In [ ]:
#Replacing NULL values with the mode
Content_Rating_mode=df["Content Rating"].dropna().mode()
df["Content Rating"]=df["Content Rating"].fillna(Content_Rating_mode[0])

In [ ]:
df["Current Ver"].isnull().sum()

np.int64(8)

In [ ]:
#Replacing NULL values with the mode
Current_Ver_mode=df["Current Ver"].dropna().mode()
df["Current Ver"]=df["Current Ver"].fillna(Current_Ver_mode[0])

In [ ]:
df["Last Updated"]=pd.to_datetime(df["Last Updated"],errors="coerce")
df["Last Updated"].isnull().sum()

np.int64(1)

In [ ]:
df["Last Updated"].fillna(df["Last Updated"].mode()[0],inplace=True)

<ipython-input-208-4d35b9c8d9d4>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Last Updated"].fillna(df["Last Updated"].mode()[0],inplace=True)

In [ ]:
df["Android Ver"].unique()

array(['4.0.3 and up', '4.2 and up', '4.4 and up', '2.3 and up',
       '3.0 and up', '4.1 and up', '4.0 and up', '2.3.3 and up',
       'Varies with device', '2.2 and up', '5.0 and up', '6.0 and up',
       '1.6 and up', '1.5 and up', '2.1 and up', '7.0 and up',
       '5.1 and up', '4.3 and up', '4.0.3 - 7.1.1', '2.0 and up',
       '3.2 and up', '4.4W and up', '7.1 and up', '7.0 - 7.1.1',
       '8.0 and up', '5.0 - 8.0', '3.1 and up', '2.0.1 and up',
       '4.1 - 7.1.1', nan, '5.0 - 6.0', '1.0 and up', '2.2 - 7.1.1',
       '5.0 - 7.1.1'], dtype=object)

In [ ]:
#Replacing NULL values with mode
Android_Ver_mode=df["Android Ver"].dropna().mode()
df["Android Ver"]=df["Android Ver"].fillna(Android_Ver_mode[0])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10358 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10358 non-null  object
 1   Category        10358 non-null  object
 2   Rating          10358 non-null  float64
 3   Reviews         10358 non-null  float64
 4   Size            10358 non-null  float64
 5   Installs        10358 non-null  float64
 6   Type            10358 non-null  object
 7   Price           10358 non-null  float64
 8   Content Rating  10358 non-null  object
 9   Genres          10358 non-null  object
 10  Last Updated    10358 non-null  datetime64[ns]
 11  Current Ver     10358 non-null  object
 12  Android Ver     10358 non-null  object
dtypes: datetime64[ns](1), float64(5), object(7)
memory usage: 1.4+ MB

In [ ]:
#Encoding Categorical columns
df=pd.get_dummies(df, columns=['Type'])
df=pd.get_dummies(df, columns=['Category'])
df=pd.get_dummies(df, columns=['Content Rating'])

In [ ]:
df.head()

,App,Rating,Reviews,Size,Installs,Price,Genres,Last Updated,Current Ver,Android Ver,...,Category_TOOLS,Category_TRAVEL_AND_LOCAL,Category_VIDEO_PLAYERS,Category_WEATHER,Content Rating_Adults only 18+,Content Rating_Everyone,Content Rating_Everyone 10+,Content Rating_Mature 17+,Content Rating_Teen,Content Rating_Unrated
0,Photo Editor & Candy Camera & Grid & ScrapBook,4.1,159.0,19000000.0,10000.0,0.0,Art & Design,2018-01-07,1.0.0,4.0.3 and up,...,False,False,False,False,False,True,False,False,False,False
1,Coloring book moana,3.9,967.0,14000000.0,500000.0,0.0,Art & Design;Pretend Play,2018-01-15,2.0.0,4.0.3 and up,...,False,False,False,False,False,True,False,False,False,False
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",4.7,87510.0,8700000.0,5000000.0,0.0,Art & Design,2018-08-01,1.2.4,4.0.3 and up,...,False,False,False,False,False,True,False,False,False,False
3,Sketch - Draw & Paint,4.5,215644.0,25000000.0,50000000.0,0.0,Art & Design,2018-06-08,Varies with device,4.2 and up,...,False,False,False,False,False,False,False,False,True,False
4,Pixel Draw - Number Art Coloring Book,4.3,967.0,2800000.0,100000.0,0.0,Art & Design;Creativity,2018-06-20,1.1,4.4 and up,...,False,False,False,False,False,True,False,False,False,False

In [ ]:
print(df.columns.tolist())

['App', 'Rating', 'Reviews', 'Size', 'Installs', 'Price', 'Genres', 'Last Updated', 'Current Ver', 'Android Ver', 'Type_Free', 'Type_Paid', 'Category_ART_AND_DESIGN', 'Category_AUTO_AND_VEHICLES', 'Category_BEAUTY', 'Category_BOOKS_AND_REFERENCE', 'Category_BUSINESS', 'Category_COMICS', 'Category_COMMUNICATION', 'Category_DATING', 'Category_EDUCATION', 'Category_ENTERTAINMENT', 'Category_EVENTS', 'Category_FAMILY', 'Category_FINANCE', 'Category_FOOD_AND_DRINK', 'Category_GAME', 'Category_HEALTH_AND_FITNESS', 'Category_HOUSE_AND_HOME', 'Category_LIBRARIES_AND_DEMO', 'Category_LIFESTYLE', 'Category_MAPS_AND_NAVIGATION', 'Category_MEDICAL', 'Category_NEWS_AND_MAGAZINES', 'Category_PARENTING', 'Category_PERSONALIZATION', 'Category_PHOTOGRAPHY', 'Category_PRODUCTIVITY', 'Category_SHOPPING', 'Category_SOCIAL', 'Category_SPORTS', 'Category_TOOLS', 'Category_TRAVEL_AND_LOCAL', 'Category_VIDEO_PLAYERS', 'Category_WEATHER', 'Content Rating_Adults only 18+', 'Content Rating_Everyone', 'Content Rating_Everyone 10+', 'Content Rating_Mature 17+', 'Content Rating_Teen', 'Content Rating_Unrated']

In [ ]:
#Features
x=df[['Type_Free', 'Type_Paid', 'Category_ART_AND_DESIGN', 'Category_AUTO_AND_VEHICLES', 'Category_BEAUTY', 'Category_BOOKS_AND_REFERENCE', 'Category_BUSINESS', 'Category_COMICS', 'Category_COMMUNICATION', 'Category_DATING',
    'Category_EDUCATION', 'Category_ENTERTAINMENT', 'Category_EVENTS', 'Category_FAMILY', 'Category_FINANCE', 'Category_FOOD_AND_DRINK', 'Category_GAME', 'Category_HEALTH_AND_FITNESS', 'Category_HOUSE_AND_HOME',
    'Category_LIBRARIES_AND_DEMO', 'Category_LIFESTYLE', 'Category_MAPS_AND_NAVIGATION', 'Category_MEDICAL', 'Category_NEWS_AND_MAGAZINES', 'Category_PARENTING', 'Category_PERSONALIZATION',
    'Category_PHOTOGRAPHY', 'Category_PRODUCTIVITY', 'Category_SHOPPING', 'Category_SOCIAL', 'Category_SPORTS', 'Category_TOOLS', 'Category_TRAVEL_AND_LOCAL', 'Category_VIDEO_PLAYERS', 'Category_WEATHER','Rating', 'Reviews']]
#Target
y = df["Installs"]

In [ ]:
#Splitting dataset into train and test
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=1/3.0, random_state=42)

In [ ]:
#Creating the random forest
regressor = RandomForestRegressor(n_estimators=30, random_state=0, oob_score=True)
regressor.fit(x_train, y_train)
y_pred= regressor.predict(x_test)

In [ ]:
#Evaluating model performance
oob_score = regressor.oob_score_
print(f'Out-of-Bag Score: {oob_score}')

mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse}')

r2 = r2_score(y_test, y_pred)
print(f'R-squared: {r2}')

Out-of-Bag Score: 0.7572814402421626
Mean Squared Error: 909107078520058.0
R-squared: 0.8297480410419661